<div class="p-4">
  <h2 class="font-semibold mb-4">Order Details</h2>

  <p *ngIf="!order" class="text-gray-500">
    Select an order
  </p>

  <table *ngIf="order" class="w-full text-sm">
    <tr *ngFor="let item of order.items">
      <td>{{ item.name }}</td>
      <td class="text-right">{{ item.quantity }}</td>
      <td class="text-right">{{ item.unitPrice | currency }}</td>
      <td class="text-right">
        {{ item.quantity * item.unitPrice | currency }}
      </td>
    </tr>
  </table>
</div>
